<html lang="en"><head>
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Jekyll v4.0.1">
      <title>Album example · Bootstrap</title>

      <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
      <!-- Bootstrap core CSS -->

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
      .espacio {
          margin-right: 5%;
      }
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .colortext{
          color:white;
        }


        .modal-backdrop.in {
      opacity: 0.7;
  }


      </style>
      <!-- Custom styles for this template -->
      <link href="album.css" rel="stylesheet">
    </head>

    <body style="background-color:white;">
          <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                        <a class="navbar-brand" href="#">SISTEMA ESTACIONAMIENTOS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarColor02">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">

                            </li>
                            <li class="nav-item">
                            <button class="btn btn-outline-light my-2 my-sm-0"  style="border:solid 0px;" type="submit">PERFIL</button>
                            </li>
                            <li class="nav-item">
                            <button class="btn btn-outline-light my-2 my-sm-0"  style="border:solid 0px;" type="submit">ESTACIONAMIENTOS</button>
                            </li>
                            <li class="nav-item">
                            <button class="btn btn-outline-light my-2 my-sm-0"   style="border:solid 0px;" type="submit">SERVICIOS</button>
                            </li>
                            <li class="nav-item">
                            <button class="btn btn-outline-light my-2 my-sm-0"  style="border:solid 0px;" type="submit">ALQUILERES</button>
                            </li>
                            <li class="nav-item">
                                    <button class="btn btn-outline-light my-2 my-sm-0"  style="border:solid 0px;" type="submit">SALIR</button>
                                    </li>
                          </ul>





                        </div>


                        <button class="btn btn-outline-light my-2 my-sm-0"   style="border:solid 0px;" type="submit">Iniciar Sesión</button>
                        <button class="btn btn-outline-light my-2 my-sm-0"   style="border:solid 0px;" type="submit">Registrate</button>


                    </nav>



              </header>






          <div class="container light" >




                <div class="row" style="border: solid 1px #ccc;">

                        <div class="row" style="border: solid 0p; padding:20px;width:100%;">
                            <div class="col-12">
                                <h2>Búsqueda de estacionamiento</h2>
                            </div>
                        </div>

                        <div class="row" style="border: solid 0p; padding:20px;width:100%;">


                                <div class="col-sm">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected>precio por hora</option>
                                                <option>10</option>
                                                <option>15</option>
                                                <option>20</option>
                                                <option>25</option>
                                              </select>
                                </div>

                                <div class="col-sm">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected>puntuación</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                </div>

                                <div  class="col-sm">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected>ubicación</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                </div>

                                <div  class="col-sm">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected>distrito</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                </div>

                                <div class="col-sm">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                                <option selected>tipo</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                              </select>
                                </div>

                                <div  class="col-sm">
                                    <button class="btn btn-secondary btn-lg active" ><i class="fa fa-search"></i>Buscar</button>
                                </div>

                            </div>





                    <table class="table " style="border: solid 0px;">
                        <tbody>
                          <tr >
                              <td style="border: solid 0px;">

                                    <div class="row" style="border: solid 1px #ccc; padding:20px; margin: 15px; ">

                                        <div class="col-3">
                                            <label for="">Distrito: Surco</label><br>
                                            <label for="">Tipo: Interior</label> <br>
                                            <label for="">Ubicación: Zona A</label>
                                        </div>

                                        <div class="col-3">
                                            <label for="">Precio X Hora: S/.30.00</label><br>
                                            <label for="">Estado Actual: Disponible</label> <br>
                                            <label for="">Dimensiones: 30x12</label>
                                        </div>

                                        <div class="col-3" align="center">
                                                <label for="">Precio X Hora: S/.30.00</label><br>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons">star_border</span>
                                                <span class="material-icons">star_border</span>
                                        </div>

                                        <div class="col-3" align="center">
                                                <button class="btn btn-secondary btn-lg active" data-toggle="modal" data-target="#myModal" ><i class="fa fa-file"></i>  Buscar</button>

                                        </div>

                                    </div>

                              </td>
                          </tr>

                          <tr style="border: solid 0px;">
                             <td style="border: solid 0px;">
                                    <div class="row" style="border: solid 1px #ccc; padding:20px; margin: 15px; ">

                                        <div class="col-3">
                                            <label for="">Distrito: Surco</label><br>
                                            <label for="">Tipo: Interior</label> <br>
                                            <label for="">Ubicación: Zona A</label>
                                        </div>

                                        <div class="col-3">
                                            <label for="">Precio X Hora: S/.30.00</label><br>
                                            <label for="">Estado Actual: Disponible</label> <br>
                                            <label for="">Dimensiones: 30x12</label>
                                        </div>

                                        <div class="col-3"  align="center">
                                                <label for="">Precio X Hora: S/.30.00</label><br>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons">star_border</span>
                                                <span class="material-icons">star_border</span>
                                        </div>

                                        <div class="col-3" align="center">
                                                <button class="btn btn-secondary btn-lg active" data-toggle="modal" data-target="#myModal" ><i class="fa fa-file"></i>  Buscar</button>
                                        </div>

                                    </div>
                             </td>
                          </tr>




                          <tr>
                                <td style="border: solid 0px;">
                                        <div class="row" style="border: solid 1px #ccc; padding:20px; margin: 15px; ">

                                           <div class="col-3">
                                               <label for="">Distrito: Surco</label><br>
                                               <label for="">Tipo: Interior</label> <br>
                                               <label for="">Ubicación: Zona A</label>
                                           </div>

                                           <div class="col-3">
                                                <label for="">Precio X Hora: S/.30.00</label><br>
                                                <label for="">Estado Actual: Disponible</label> <br>
                                                <label for="">Dimensiones: 30x12</label>
                                           </div>

                                           <div class="col-3"  align="center">
                                                <label for="">Precio X Hora: S/.30.00</label><br>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons"> star </span>
                                                <span class="material-icons">star_border</span>
                                                <span class="material-icons">star_border</span>
                                           </div>

                                           <div class="col-3" align="center">
                                                <button class="btn btn-secondary btn-lg active" data-toggle="modal" data-target="#myModal" ><i class="fa fa-file"></i>  Buscar</button>
                                           </div>

                                       </div>
                                </td>
                             </tr>




                        </tbody>
                      </table>


                      <div class=" " style="width:100%; float:both; margin:auto;" align="center">
                            <ul class="pagination" style="float:both; margin: auto; width: 200px; ">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                  </ul>
                                  <br><br><br>
                    </div>

                </div>




                </div>




                <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 bg-secondary">

          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase colortext" >Sistema de Etsacionamientos</h5>
                <p class="colortext">Desarrollo de sistema de reservas de estacionamientos y control de publicidad.</p>

              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none pb-3">

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase colortext">Sistema</h5>

                <ul class="list-unstyled">
                  <li>
                    <a class="colortext" href="#!">Perfil</a>
                  </li>
                  <li>
                    <a class="colortext" href="#!">Estacionamientos</a>
                  </li>
                  <li>
                  <a class="colortext" href="#!">Alquileres</a>
                </li>


                </ul>

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase colortext">Control</h5>

                <ul class="list-unstyled">
                <li>
                <a class="colortext" href="#!">Publicidad</a>
              </li>
              <li>
                <a class="colortext" href="#!">Publicaciones</a>
              </li>
                </ul>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3 colortext">© 2020 Copyright:
            <a clas="colortext" href="https://mdbootstrap.com/"> sistema dereservadeestacionamientos.com</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->






      <!-- Modal -->
      <div class="modal" id="myModal" role="dialog" aria-labelledby="exampleModalLabel"    aria-hidden="true">
              <div class="modal-dialog" role="document" style="min-width: 900px;">
                <div class="modal-content" style="padding:2%; width:900px;float:both; margin:auto;">


                    <div class="container">

                        <div class="row">

                            <div class="col-6">

                                <div>

                                    <h5>Precio por hora: s/.30.00 </h5>
                                    <h5>Dimensiones: 30 x 12 </h5>
                                    <h5>Dirección: Miraflores, Zona A, Mq: 240 </h5><br>

                                </div>

                                    <table class="table table-striped"  style="border: solid 1px #ccc;">
                                            <thead>
                                              <tr>
                                                <th scope="col">Hora</th>
                                                <th scope="col">Lu</th>
                                                <th scope="col">Ma</th>
                                                <th scope="col">Mi</th>
                                                <th scope="col">Ju</th>
                                                <th scope="col">Vi</th>
                                                <th scope="col">Sa</th>
                                                <th scope="col">Do</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">00:00</th>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"  checked id="defaultCheckeda1"  >
                                                        <label class="custom-control-label" for="defaultCheckeda1"> </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckeda2"  >
                                                        <label class="custom-control-label" for="defaultCheckeda2"> </label>
                                                    </div>
                                                </td>

                                                 <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckeda3"  >
                                                        <label class="custom-control-label" for="defaultCheckeda3"> </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" checked  id="defaultCheckeda4"  >
                                                        <label class="custom-control-label" for="defaultCheckeda4"> </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckeda5"  >
                                                        <label class="custom-control-label" for="defaultCheckeda5"> </label>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckeda6"  >
                                                        <label class="custom-control-label" for="defaultCheckeda6"> </label>
                                                    </div>
                                                </td>

                                                 <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckeda7"  >
                                                        <label class="custom-control-label" for="defaultCheckeda7"> </label>
                                                    </div>
                                                </td>




                                              </tr>

                                              <tr>
                                                    <th scope="row">01:00</th>

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckeda1"  >
                                                            <label class="custom-control-label" for="defaultCheckeda1"> </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckeda2"  >
                                                            <label class="custom-control-label" for="defaultCheckeda2"> </label>
                                                        </div>
                                                    </td>

                                                     <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"  checked id="defaultCheckeda3"  >
                                                            <label class="custom-control-label" for="defaultCheckeda3"> </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"  checked id="defaultCheckeda4"  >
                                                            <label class="custom-control-label" for="defaultCheckeda4"> </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckeda5"  >
                                                            <label class="custom-control-label" for="defaultCheckeda5"> </label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked id="defaultCheckeda6"  >
                                                            <label class="custom-control-label" for="defaultCheckeda6"> </label>
                                                        </div>
                                                    </td>

                                                     <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckeda7"  >
                                                            <label class="custom-control-label" for="defaultCheckeda7"> </label>
                                                        </div>
                                                    </td>




                                                  </tr>

                                                  <tr>
                                                        <th scope="row">02:00</th>

                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="defaultCheckedb1"  >
                                                                <label class="custom-control-label" for="defaultCheckedb1"> </label>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" checked  id="defaultCheckedb2"  >
                                                                <label class="custom-control-label" for="defaultCheckedb2"> </label>
                                                            </div>
                                                        </td>

                                                         <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" checked  id="defaultCheckedb3"  >
                                                                <label class="custom-control-label" for="defaultCheckedb3"> </label>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="defaultCheckedb4"  >
                                                                <label class="custom-control-label" for="defaultCheckedb4"> </label>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="defaultCheckedb5"  >
                                                                <label class="custom-control-label" for="defaultCheckedb5"> </label>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="defaultCheckedb6"  >
                                                                <label class="custom-control-label" for="defaultCheckedb6"> </label>
                                                            </div>
                                                        </td>

                                                         <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"  checked id="defaultCheckedb7"  >
                                                                <label class="custom-control-label" for="defaultCheckedb7"> </label>
                                                            </div>
                                                        </td>




                                                      </tr>
                                                      <tr>
                                                            <th scope="row">03:00</th>

                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="defaultCheckedc1"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc1"> </label>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="defaultCheckedc2"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc2"> </label>
                                                                </div>
                                                            </td>

                                                             <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="defaultCheckedc3"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc3"> </label>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"  checked id="defaultCheckedc4"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc4"> </label>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="defaultCheckedc5"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc5"> </label>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input"  checked id="defaultCheckedc6"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc6"> </label>
                                                                </div>
                                                            </td>

                                                             <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="defaultCheckedc7"  >
                                                                    <label class="custom-control-label" for="defaultCheckedc7"> </label>
                                                                </div>
                                                            </td>




                                                          </tr>
                                                          <tr>
                                                                <th scope="row">04:00</th>

                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" checked id="defaultCheckedd1"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd1"> </label>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedd2"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd2"> </label>
                                                                    </div>
                                                                </td>

                                                                 <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedd3"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd3"> </label>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" checked id="defaultCheckedd4"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd4"> </label>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedd5"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd5"> </label>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" checked id="defaultCheckedd6"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd6"> </label>
                                                                    </div>
                                                                </td>

                                                                 <td>
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" id="defaultCheckedd7"  >
                                                                        <label class="custom-control-label" for="defaultCheckedd7"> </label>
                                                                    </div>
                                                                </td>




                                                              </tr>
                                                              <tr>
                                                                    <th scope="row">05:00</th>

                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckede1"  >
                                                                            <label class="custom-control-label" for="defaultCheckede1"> </label>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckede2"  >
                                                                            <label class="custom-control-label" for="defaultCheckede2"> </label>
                                                                        </div>
                                                                    </td>

                                                                     <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked id="defaultCheckede3"  >
                                                                            <label class="custom-control-label" for="defaultCheckede3"> </label>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckede4"  >
                                                                            <label class="custom-control-label" for="defaultCheckede4"> </label>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" id="defaultCheckede5"  >
                                                                            <label class="custom-control-label" for="defaultCheckede5"> </label>
                                                                        </div>
                                                                    </td>

                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked id="defaultCheckede6"  >
                                                                            <label class="custom-control-label" for="defaultCheckede6"> </label>
                                                                        </div>
                                                                    </td>

                                                                     <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input" checked id="defaultCheckede7"  >
                                                                            <label class="custom-control-label" for="defaultCheckede7"> </label>
                                                                        </div>
                                                                    </td>




                                                                  </tr>


                                            </tbody>
                                          </table>


                            </div>

                            <div class="col-6">


                                    <div class=" " align="center">
                                        <br>
                                             <span class="material-icons"> star </span>
                                            <span class="material-icons"> star </span>
                                            <span class="material-icons"> star </span>
                                            <span class="material-icons">star_border</span>
                                            <span class="material-icons">star_border</span>
                                    </div>

                                    <div align="center">
                                        <br>
                                        <h4>
                                                Estacionamiento: La Molina
                                        </h4>
                                        <br>
                                    </div>


                                    <table class="table table-striped" style="border: solid 1px #ccc;">
                                            <thead>
                                              <tr>
                                                 <th scope="col">Servicio adicional</th>
                                                <th scope="col">Adicionar</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                 <td>Limpieza de vehiculo</td>
                                                <td>
                                                        <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" checked id="defaultCheckedj7"  >
                                                                <label class="custom-control-label" for="defaultCheckede7"> </label>
                                                            </div>

                                                </td>
                                               </tr>


                                              <tr>
                                                 <td>otro</td>
                                                <td>
                                                        <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"  id="defaultCheckedj7"  >
                                                                <label class="custom-control-label" for="defaultCheckede7"> </label>
                                                            </div>

                                                </td>
                                               </tr>



                                            </tbody>
                                          </table>


                                          <div style="padding-left:20px;padding-right:20px;">
                                                <button type="button" class="btn btn-primary btn-lg">Guardar</button>
                                                <button type="button" class="btn btn-secondary btn-lg" style="float:right;">Cancelar</button>
                                          </div>

                            </div>

                        </div>

                    </div>
                      <!--
                      <form>
                              <div class="form-group row">

                                <h3 style="float:both; margin:auto;"><br>Nuevo Anuncio<br><br></h3>

                              </div>


                              <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Titulo</label>
                                <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail3">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Tarifa</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword3">
                                </div>
                              </div>

                              <div class="form-group row">
                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha Inicio</label>
                                      <div class="col-sm-10">
                                              <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                                          </div>
                                    </div>

                                    <div class="form-group row">
                                          <label for="inputPassword3" class="col-sm-2 col-form-label">Fecha Fin</label>
                                          <div class="col-sm-10">
                                                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                                              </div>
                                        </div>

                                        <div class="form-group">
                                              <label for="exampleFormControlTextarea1">Contenido</label>
                                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>


                              <fieldset class="form-group">
                                <div class="row">
                                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                  <div class="col-sm-10">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                      <label class="form-check-label" for="gridRadios1">
                                        First radio
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                      <label class="form-check-label" for="gridRadios2">
                                        Second radio
                                      </label>
                                    </div>
                                    <div class="form-check disabled">
                                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                      <label class="form-check-label" for="gridRadios3">
                                        Third disabled radio
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>

                              <div class="form-group row">
                                <div class="col-sm-2">Checkbox</div>
                                <div class="col-sm-10">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                      Example checkbox
                                    </label>
                                  </div>
                                </div>
                              </div>

                              <div class="form-group row">
                                <div class="col-sm-12"><br>
                                  <button type="submit" class="btn btn-primary btn-lg" style="float: left; ">Guardar</button>

                                  <button type="submit" class="btn btn-primary btn-lg" style="float: right; ">Cancelar</button>

                              </div>
                              </div>


                            </form>

                        -->


                </div>
              </div>
     </div>


        <script>


        $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  });







  var ss = $.LiveAddress({
      key: '8140491234758226',
      waitForStreet: true,
      debug: true,
      target: "US",
      addresses: [{
          id: "myID",
          country: "#country",
        address1: "#street",
        locality: "#city",
        administrative_area: "#state",
        postal_code: "#ZIP"
      }]
  });

  ss.deactivate("myID");

  $("#myModal").on("shown.bs.modal", function () {
     // Reactivate the form when not hidden
      ss.activate("myID");
      // This line helps to make sure the checkmark goes back to where it belongs
      $(window).resize();
  });

  $("#myModal").on("hide.bs.modal", function() {
  // Deactivate the form when hidden
      ss.deactivate("myID");
  });





        </script>
  </body></html>
